<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Store</title>
  </head>
  <body>
    <nav style="display: flex; justify-content: space-around; background-color: lightgray; padding: 10px;">
      <a href="">Store</a>
      <a href="">Your cart</a>
      {% if user.is_authenticated %}
        <a href="">Your balance: </a>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'registration' %}">Register</a>
      {% endif %}
    </nav>
    <div>
        {% block content %} 
        {% endblock %}
    </div>
  </body>
</html>
