<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Store</title>
  </head>
  <body>
    <nav style="display: flex; justify-content: space-around; background-color: lightgray; padding: 10px;">
      <a href="">Store</a>
      {% if user.is_authenticated %}
        <a href="">Корзина</a>
        <a href="">Баланс: {{ user.wallet }} червонцев</a>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button style="all: unset; cursor: pointer; display: inline-block; " type="submit">Выйти</button>
        </form>
        <span>Привет, {{ user.username }}!</span>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'registration' %}">Register</a>
      {% endif %}
    </nav>
    <div>
        {% block content %} 
        {% endblock %}
    </div>
  </body>
</html>
