<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        E-Shop
      {% endblock %}
    </title>
  </head>
  <body>
    <nav style="display: flex; justify-content: space-around; background-color: lightgray; padding: 10px;">
      <a href="{% url 'main' %}">Store</a>
      {% if user.is_authenticated %}
        <a href="">Корзина</a>
        <span>Баланс: {{ user.wallet }} червонцев</span>
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button style="all: unset; cursor: pointer; display: inline-block; " type="submit">Выйти</button>
        </form>
        <span>Привет,
          {% if user.is_superuser %}
            <a href="/admin/">{{user.username }}</a>
          {% else %}
            {{ user.username }}
          {% endif %}
        !</span>
      {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'registration' %}">Register</a>
      {% endif %}
    </nav>
    <div>
        {% block content %} 
        {% endblock %}
    </div>
  </body>
</html>
